#!/bin/sh

if [ "$INERTIA_SSR_ENABLED" == "true" ]; then
    echo "Starting inertia SSR"
    exec chpst -u nginx /usr/bin/php /data/www/artisan inertia:start-ssr
else
    echo "Inertia SSR - skipped (because not enabled)"
    sv down inertia-ssr
fi
