#!/bin/sh

cd /data/www

APP_ENV=${APP_ENV:="production"}
if [ "$APP_ENV" == "local" ]; then
    exec chpst -u nginx npm run dev
else
    VITE_BUILD_DIRECTORY="/data/www/public/build"
    if [ ! -d "$VITE_BUILD_DIRECTORY" ] || [ -z "$(ls -A "$VITE_BUILD_DIRECTORY")" ]; then
        exec chpst -u nginx npm run build

        echo "Deleting node modules ..."
        rm -rf /data/www/node_modules
        echo "Build complete"
    fi

    sv down vite
fi